body{

}
.nav{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}
.usernavigation{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
    flex-basis:103px;
}
.sitenavigation:first-child{
    margin-right:20px;
}
.sitenavigation{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
    flex-basis:111px;
}
.sitenavigation li ul{
    display:none;
}
.captioncategories{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    margin-left:20px;
}
.captioncategories ul{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
}
.captioncategories li{
    margin-right:20px;
}
.filter{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    max-width:200px;
    margin-left:20px;
}
.filter h3{
    flex-basis:300px;
}
.filter form{
    display:flex;
    flex-direction:column;
}

































footer{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.infofooter{
    display:flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap:wrap;
}
.customfooter{
    flex-basis:50%;
    display:flex;
    flex-direction:column;
}
.infofooter:first-child{
    margin-right:50px;
}
.servicesandmap{
    flex-basis:40%;
    display:flex;
    flex-direction:column;
}
.footeruserinfo{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;

}
.socialnetworkandrights{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.socialnetworkandrights ul{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.socialnetworkandrights li{
    margin-right:20px;
}

